/*  your css code here. If applicable */
.container {
	justify-content: center;
	text-align: center;
	border: 2px solid black;
	border-radius: 40px; 
	max-width: 80%;
	margin: auto;
	padding: 30px;
	/* gap: 20px; */
	background-color: lightgray;
}

.green {
	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: green;
	border-radius: 50%;	
	margin: 0 10px;
}

.yellow {
	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: yellow;
	border-radius: 50%;
	margin: 0 10px;
}

.red {
	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: red;
	border-radius: 50%;
	margin: 0 10px;
}



